@use './variaveis' as *;

.camera-box {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2rem;
    max-width: 850px;
    margin: 2rem auto;
    text-align: center;
    color: $claro;
    box-shadow: 0 0 25px rgba(247, 27, 228, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;

    }

    .preview {
        width: 80%;
        aspect-ratio: 16 / 9;
        background: $fundo;
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 1rem;
        display: grid;
        justify-items: center;
        align-content: center;

        video,
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
            
        }
    }
}