/**
 * Arquivo principal de estilos
 * Importa todos os módulos SCSS da aplicação
 */

@use './variaveis';
@use './inicial';
@use './DSGo';
@use './menu';
@use './missaoCard';
@use './modal';
@use './camera';
@use './galeria_camera';
@use './inventario';
@use './geolocalizacao';